@charset "UTF-8";

body {
	scrollbar-face-color: #F6F6F6;
	scrollbar-highlight-color: #bbbbbb;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #bbbbbb;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #bbbbbb;
	margin-left:"0px"; margin-right:"0px"; margin-top:"0px"; margin-bottom:"0px";
}

td {font-size: 9pt; color:#595959;}
th {font-size: 9pt; color:#000000;}
select {font-size: 9pt; color:#595959;}


.divDotText {
	overflow:hidden;
	text-overflow:ellipsis;
}

.before_after_year, .before_after_month :link {font-size:9pt; color:#000000; text-decoration:none; }
.before_after_year, .before_after_month :visited {font-size:9pt; color:#000000; text-decoration:none; }
.before_after_year, .before_after_month :active {font-size:9pt; color:#000000; text-decoration:none; }
.before_after_year, .before_after_month :hover {font-size:9pt; color:#000000; text-decoration:none;}
.day{
	width:160px; 
	height:30px;
	font-weight: bold;
	font-size:15px;
	font-weight:bold;
	text-align: center;
}
.sat{
	color:#529dbc;
}
.sun{
	color:red;
}
.today_button_div{
	float: right;
}
.calendar{
	width:90%;
	margin:auto;
}
.cal_navigation{
	margin-top:50px;
	margin-bottom:30px;
	text-align: center;
	font-size: 25px;
	vertical-align: middle;
}
.calendar_body{
	width:100%;
	background-color: #FFFFFF;
	border:1px solid #D8D8D8;
	margin-bottom: 50px;
	border-collapse: collapse;
}
.calendar_body .today{
	border:1px solid white;
	height:160px;
	background-color:#D8D8D8;
	text-align: left;
	vertical-align: top;
}
.calendar_body .date{
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .sat_day{
	border:1px solid white;
	height:160px;
	background-color:#FFFFFF;
	text-align:left;
	vertical-align: top;
}
.calendar_body .sat_day .sat{
	color: #529dbc; 
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .sun_day{
	border:1px solid white;
	height:160px;
	background-color:#FFFFFF;
	text-align: left;
	vertical-align: top;
}
.calendar_body .sun_day .sun{
	color: red; 
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .normal_day{
	border:1px solid white;
	height:160px;
	background-color:#FFFFFF;
	vertical-align: top;
	text-align: left;
}
.before_after_month{
	margin: 10px;
	font-weight: bold;
}
.before_after_year{
	font-weight: bold;
}
.this_month{
	margin: 10px;
}
.bg-met{
	background-color : #F6D8CE;
	text-align : center;
}
.bg-wed{
	background-color : #F5F6CE;
	text-align : center;	
}
.bg-rest{
	background-color : #D8F6CE;
	text-align : center;
}
.bg-rom{
	background-color : #CEECF5;
	text-align : center;
}
.list-wrap{
	margin-top : 30px;
	text-align : center;
}
#list-btn{
	dispaly : inline-block;
	width : 100px;
	height : 40px;
	align : center;
	background-color : #FFFFFF;
	border : none;
	margin : 0 10px;
}
.in-wrap{
	text-align : center;
}
.in1{
	display : inline-block;
	margin : 0 10px;
}