@charset "UTF-8";
.mypage-table{
	width : 500px;
	text-align : center;
	border : 3px solid #D8D8D8;
}
td{
	border: 3px solid #D8D8D8;
}
#my_td{
	height : 50px;
	background-color : #D8D8D8;
	border: 3px solid #D8D8D8;
}
.btn-wrap{
	margin-top : 20px;
	text-align : center;
}
#mypage-btn{
	dispaly : inline-block;
	width : 100px;
	height : 40px;
	align : center;
	background-color : #FFFFFF;
	border : none;
	margin : 0 10px;
}